html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    text-align: center;
    background-color: bisque;
    padding: 0px 10px;
}

main {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex: 1;
}

.container {
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1;
}

.tile {
    border: 0.1px solid black;
    box-sizing: border-box;
    flex: 1 1 calc(100% / 16);
}

footer {
    text-align: center;
    background-color: bisque;
}